@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-scroll::-webkit-scrollbar {
	display: none;
}

.font-inter {
	font-family: "Inter", sans-serif;
}

.font-khand {
	font-family: "Khand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Khand", sans-serif;
}
p, body {
	font-family: "Inter", sans-serif;
}
.no-select {
	user-select: none;
  }
.purple-gradient-text {
	background: linear-gradient(180deg, #fb80ff 0%, #9550ad 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.green-gradient-text {
	background: linear-gradient(180deg, #68D763 0%, #3AAA35 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.green-gradient-bg {
background: linear-gradient(180deg, #68D763 0%, #3AAA35 100%);
}

.glow-purple {
	border-radius: 981px;
	/* background: url('/img/PURPLE-GLOW-TOP.png') lightgray 50% / cover no-repeat, rgba(203, 12, 251, 0.40); */
	background: linear-gradient(rgba(203, 12, 251, 0.40), rgba(203, 12, 251, 0.40)), url('/img/PURPLE-GLOW-TOP.png') 50% / cover no-repeat;
	background-blend-mode: luminosity, normal;
	filter: blur(32px);
	width: 981px;
	height: 272px;
	flex-shrink: 0;
}

.glow-green {
	border-radius: 981px;
	background: linear-gradient(rgba(74, 149, 50, 0.40), rgba(74, 149, 50, 0.40)), url('/img/GREEN-GLOW-TOP.png') 50% / cover no-repeat;
	background-blend-mode: luminosity, normal;
	filter: blur(32px);
	width: 981px;
	height: 272px;
	flex-shrink: 0;
}